{% extends 'base.html.twig' %}

{% block title %}Nouvel Événement - {{ cours.titre }}{% endblock %}

{% block body %}
{% include 'partials/_page_header.html.twig' with {
    eyebrow: cours.titre,
    title: 'Nouvel événement',
    description: 'Planifiez un cours, un examen ou une réunion.',
    actions: '<a href="' ~ path('enseignant_planning_cours', {id: cours.id}) ~ '" class="btn btn-outline-secondary btn-sm"><i class="bi bi-arrow-left"></i> Retour</a>'
} %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body p-4">
                {{ form_start(form) }}
                    {{ form_row(form.titre) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.dateDebut) }}
                    {{ form_row(form.dateFin) }}
                    {{ form_row(form.lieu) }}
                    <div class="d-flex justify-content-end gap-2 mt-4">
                        <a href="{{ path('enseignant_planning_cours', {id: cours.id}) }}" class="btn btn-outline-secondary">Annuler</a>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg"></i> Créer</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'partials/_calendrier_dates_validation.html.twig' with {
        startId: form.dateDebut.vars.id,
        endId: form.dateFin.vars.id,
    } only %}
{% endblock %}
